#nav{
	display:block; 
}
#nav ul {
  font-family: Arial, Verdana;
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index:1; 
}
#nav ul li {
  display: block;
  position: relative;
  float: left;
}
#nav li ul { display: none; }
#nav ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 5px 15px 5px 15px;
  background: #262;
  margin-left: 1px;
  white-space: nowrap;
}
#nav ul li a:hover { background: #696; }
#nav li:hover ul {
  display: block;
  position: absolute;
}
#nav li:hover li {
  float: none;
  font-size: 11px;
}
#nav li:hover a { background: #696; }
#nav li:hover li a:hover { background: #ADA; color:black;}