<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script src="js/pubsub.js"></script> 
		<script src="js/jquery.tmpl.js"></script> 
		<script src="js/data.js"></script> 
		<script src="js/fb.js"></script> 
		<script src="js/ui.js"></script> 
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/nav.css"/> 
	</head>
<body>
	<!-- menu  include - point to views--> 
<div id="nav"> 
	<ul id="menu">
	  <li><a href="">Home</a></li>
	  <li><a href="">Data</a>
		<ul>
		<li><a href="" data-uitype="menu" data-tmpl-id="#tmpl-teams-menu">Teams</a></li>
		<li><a href="" data-uitype="menu" data-tmpl-id="#tmpl-players-menu">Players</a></li>
		<li><a href="" data-uitype="menu" data-tmpl-id="#tmpl-conferences-menu">Conferences</a></li>
		</ul>
	  </li>
	  <li><a href="">Products</a>
		<ul>
		<li><a href="">Cozy Couch</a></li>
		<li><a href="">Great Table</a></li>
		<li><a href="">Small Chair</a></li>
		<li><a href="">Shiny Shelf</a></li>
		<li><a href="">Invisible Nothing</a></li>
		</ul>
	  </li>
	  <li><a href="">Contact</a>
		<ul>
		<li><a href="">Online</a></li>
		<li><a href="">Right Here</a></li>
		<li><a href="">Somewhere Else</a></li>
		</ul>
	  </li>
	</ul>
</div> 
	</br>
	<div id="menuPane"></div>
	<div id="mainPane"></div>
	
	<!-- Templates -->
	<!--- ****************** TEAMS MENU **************--->
	<script type="text/x-jQuery-tmpl" id="tmpl-teams-menu">
	</BR>
	<div id="menuContainer" class="menuContainer">
		<h2>Teams</h2> 
		<a href="#" data-uitype="link-to-list" data-item-type="team">List All</a> | 
		<a href="#">Search</a> <!--form? --> | 
		<a href="#">By Conference</a> 
		</script> 
	</div>
	<!--- ****************** PLAYERS MENU **************--->
	<script type="text/x-jQuery-tmpl" id="tmpl-players-menu">
	</BR>
	<div id="menuContainer" class="menuContainer">
		<h2>Players</h2> 
		<a href="#" data-uitype="link-to-list" data-item-type="player">List All</a> | 
		<a href="#">Search</a> <!--form? --> | 
		<a href="#">By Team</a> 
		</script> 
	</div>
	<!--- ****************** CONFERENCES MENU **************--->
	<script type="text/x-jQuery-tmpl" id="tmpl-conferences-menu">
	</BR>
	<div id="menuContainer" class="menuContainer">
		<h2>Conferences</h2> 
		<a href="#" data-uitype="link-to-list" data-item-type="conference">List All</a> | 
		<a href="#">Search</a> <!--form? --> | 
		<a href="#">By Team</a> 
		</script> 
	</div>
	
	
	
	<!---***********  teams list  *****************--> 
	<script type="text/x-jQuery-tmpl" id="tmpl-teams-list">
	<h2>Teams</h2> 
	<div id="tableContainer" class="tableContainer">
		<table border="0" cellpadding="0" cellspacing="0"  class="scrolltable">
			<thead class="fixedHeader">
				<tr class="alternateRow">
					<th>name</th>
					<th class="narrow">abbreviation</th>
					<th>location</th>
					<th  class="narrow">conference</th>
				</tr>	
			</thead>
			<tbody class="scrollContent"> 
				{{each teams}}
					<tr class="normalRow">
						<td>${name} -  <a href="#" data-uitype="link-to-item" data-item-id="${name}" data-item-type="team">Details</a> | <a href="#" data-uitype="link-to-list" data-item-id="${name}" data-item-type="player">Roster</a></td>
						<td class="narrow">${abbreviation}</td>
						<td>${city}, ${state}</td>
						<td class="narrow"><a href="#" data-uitype="link-to-item" data-item-id="${conference}" data-item-type="conference"> ${conference}</a></td>
					</tr>
				{{/each}}
			</tbody>
		</table> 
		</div>
	</script> 
	
	<!---***********  individual team  *****************--> 
	<script type="text/x-jQuery-tmpl" id="tmpl-team-detail">
	<h2>Team: ${name}</h2> 
		<div id="tableContainer" class="tableContainer">
			${abbreviation} - ${city}, ${state} -- <a href="#" data-uitype="link-to-item" data-item-id="${conference}" data-item-type="conference"> ${conference}</a>
		</div>
	</script> 
	
	<!---***********  individual conference  *****************--> 
	<script type="text/x-jQuery-tmpl" id="tmpl-conference-detail">
	<h2>Conference: ${name}</h2> 
		<div id="tableContainer" class="tableContainer">
			${abbreviation} - <a href="#" data-uitype="link-to-list" data-item-id="${name}" data-item-type="team">Teams</a> 
		</div>
	</script> 
	
	<!---***********  conference list  *****************--> 
	<script type="text/x-jQuery-tmpl" id="tmpl-conferences-list">
	<h2>Conferences</h2> 
	<div id="tableContainer" class="tableContainer">
		<table border="0" cellpadding="0" cellspacing="0"  class="scrolltable">
			<thead class="fixedHeader">
				<tr class="alternateRow">
					<th>name</th>
					<th class="narrow">abbreviation</th>
				</tr>	
			</thead>
			<tbody class="scrollContent"> 
				{{each conferences}}
					<tr class="normalRow">
						<td>${name} - <a href="#" data-uitype="link-to-list" data-item-id="${name}" data-item-type="team">Teams</a></td>
						<td class="narrow">${abbreviation}</td>
					</tr>
				{{/each}}
			</tbody>
		</table> 
		</div>
	</script> 
	
	<!-- {{each(i, d) data}} [TR class={{if i%2==0}}even{{else}}odd{{/if}] [TD]${title} [/TD] [/TR]{{/each}-->
	<!---***********  player list  *****************--> 
	<script type="text/x-jQuery-tmpl" id="tmpl-players-list">
		{{if team == "ALL"}}
			<h2>Players</h2>	
		{{else}}
			<h2>Roster - ${team}</h2>			
		{{/if}}
				
			<div id="tableContainer" class="tableContainer">
				<table border="0" cellpadding="0" cellspacing="0"  class="scrolltable">
					<thead class="fixedHeader">
						<tr class="alternateRow">
							<th>first name</th>
							<th>last name</th>
							<th class="narrow">year born</th>
							{{if team =="ALL"}}
								<th>team</th>
							{{/if}}
						</tr>	
					</thead>
					<tbody class="scrollContent">
						{{each players}} 
						<tr class="normalRow">
							<td>${firstName}</td>
							<td>${lastName}</td>
							<td class="narrow">${birthYear}</td>
							 {{if team == "ALL"}}
							<td><a href="#" data-uitype="link-to-item" data-item-id="${team}" data-item-type="team">${team}</a></td>
							{{/if}}
						</tr>
					{{/each}}
					</tbody>
				</table> 			
			</div> 
	</script> 

	
	<script type="text/javascript"> 
		init(); 
	</script> 
	
	  
 
       


</body>
</html>