body {
    font: 10px Verdana,Geneva,Arial,Helvetica,sans-serif;
    margin: 11px;
}
#canvas { 
	width:300px;
	height:300px; 
	float:left; 
}
.headerMenuBar { 
	display:inline; 
	padding-left:10px; 
}
.headerMenuBar li  {
	display:inline-block; 
}

.button{ 
	margin-right:5px; 
	background-color: #339933;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #1F5C1F;
	padding: 5px;
	
}
.button on { 
} 
.button a { 
	color:white; 
	text-decoration:none; 
}

th { 
	background-color: #CDC; 
} 
th, td { 
	font-size:11px; 
}

div.textContainer { 
	left:250px; 
	float:right; 
}